*************************************************************************************
*                                                                                   *
* DRILL TAPE SUMMARY REPORT                                                         *
*                                                                                   *
* C:\DOCUMENTS AND SETTINGS\LUIS V\DESKTOP\ODESK\CENTERUS\AVALON2\BCMINER V2-1.MAX  *
* Sat Nov 23 16:57:52 2013                                                          *
*                                                                                   *
*************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       120      778      200      100                                                                                 
T2       512      4        200      100                                                                                 
T3       1260     6        200      100                                                                                 
